.homepage-body{
    width:80%;
    height: 100vh;
    display: flex;
    align-items: center;
    margin: 0 auto;
}

.homaepage-texts{
    width: 70%;
    color:var(--text-color);
}

.homepage-title{
    font-size: 61px;
    margin-bottom: 2rem;
    font-family: 'DM Serif Display', serif;
}

.homepage-subtitle{
    font-size: 20px;
    font-family: 'DM Sans', sans-serif;
}

.newsletter-form{
    width: 400px;
    margin-top: 4rem;
    display: flex;
    flex-direction: column;
}

.form-input{
    padding: 1rem;
    margin-bottom: 1rem;
    font-size: 16px;
}

.form-button{
    font-size: 18px;
    padding: .5rem;
    background-color: var(--primary-color);
    color:#fff;
    border:none;
    cursor:pointer;
    transition: background-color .2s;
}

.form-button:hover{
    background-color: var(--primary-hover-color);
}

@media screen and (max-width:1250px){
    .homepage-body{
        flex-wrap: wrap;
        text-align: center;
        justify-content: center;
        height: 80vh;
    }
    .homaepage-texts{
        width: 100%;
    }
    .newsletter-form-container{
        display: flex;
        justify-content: center;
    }
    .homapage-image-container{
        display: none;
    }
}

@media screen and (max-width:550px){
    .homepage-title{
        font-size: 3.25rem;
    }
    .homepage-subtitle{
        font-size: 1.5rem;
    }
    .newsletter-form{
       width: 80%;
    }
}